@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

* 
{
  margin:0;
  padding:0;
  outline: none !important;
  box-sizing: border-box;
  
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  font-family: 'Roboto', sans-serif;
  // box-shadow: 0 0 0 1px red;
}

$Menu-height: 60px;
$radius: 4px;

body {
  width: 100vw;
  height: 100vh;
  background: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  min-width: 850px;
  min-height: 550px;
  
  width: 850px;
  height: 550px;
  position: relative;
  overflow: hidden;
  box-shadow:  0 0 4vh  rgba(0,0,0,0.4);
}

.ErrorMobile {
  display: none;
}

@media  (max-width: 850px) or (max-height: 550px){
  .Game {
    display: none;
  }

  #root {
    max-width: 100%;
    min-width: 100vw;
    min-height: 100vh;
  }
  .ErrorMobile {
    display: flex;
  }
}

button,input {
  border:none;
  border-radius: 4px;
  background: none;
  outline: none;
}

%hideScroll {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 4px;
    background-color: rgba(0,0,0,0.4);
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #707070;
  }
  
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: rgba(0,0,0,0.1);
  }
}